/* Fundo geral */
.anchor-pane {
    -fx-background-color: #10192b; /* Cor de fundo escuro */
    -fx-padding: 20;
}

/* Barra superior */
.top-bar {
    -fx-background-color: #2a2a40;
    -fx-background-radius: 15;
}

/* Título principal */
.heading-main {
    -fx-text-fill: white;
    -fx-font-size: 30px;
    -fx-font-family: "Bell MT Bold";
    -fx-alignment: center;
}

/* Campo de entrada */
.input-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-width: 0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* Placeholder do campo */
.input-field .text {
    -fx-prompt-text-fill: rgba(204, 204, 204, 0.5);
}

/* Quando focado */
.input-field:focused {
    -fx-border-color: #7b2cbf;
    -fx-border-width: 0 0 2 0;
}

/* Botões de ação (roxo estilizado) */
.custom-button, .action-button {
    -fx-font-family: "Bell MT Bold";
    -fx-font-size: 16px;
    -fx-text-fill: #7b2cbf;
    -fx-background-color: transparent;
    -fx-border-color: #7b2cbf;
    -fx-border-radius: 8;
    -fx-border-width: 2;
    -fx-cursor: hand;
    -fx-padding: 6 18;
    -fx-background-radius: 8;
}

/* Hover dos botões */
.custom-button:hover, .action-button:hover {
    -fx-background-color: #7b2cbf;
    -fx-text-fill: white;
}

/* Tabela */
.table-view {
    -fx-background-color: #1e1e30; /* Fundo escuro para a tabela */
    -fx-text-fill: white; /* Texto em branco nas células */
}

/* Cabeçalhos da Tabela */
.table-view .column-header-background {
    -fx-background-color: #2a2a40; /* Fundo da linha de cabeçalhos */
}

/* Estilo da linha ativa da Tabela */
.table-view .table-row-cell:filled:selected {
    -fx-background-color: #7b2cbf;
    -fx-text-fill: white;
}


/* Texto com link */
.link-text {
    -fx-text-fill: gray;
    -fx-font-size: 11px;
}
